<div class="page page-core page-login">
    <div class="text-center">
        <h1 class="text-light text-white">
      <span class="text-lightred">CONTACT</span>PRÓ
    </h1>
    </div>
    <div class="container w-420 p-15 bg-white mt-40 text-left">
        <form name="form" class="form-validation mt-20" novalidate ng-submit="recover()">
            <h2 class="text-light text-greensea">Esqueceu sua senha?</h2>
            <p class="help-block text-left">
                Informe seu e-mail para redefinir sua senha
            </p>
            <md-content>
                <md-input-container class="form-group">
                    <label>E-mail</label>
                    <input type="email" disable-validation-message="" class="form-control underline-input" ng-model="credentials.email" required name="email">
                    <div ng-messages="form.email.$error" class="text-left">
                        <div ng-message="required">Campo obrigatório.</div>
                        <div ng-message="email">E-mail inválido.</div>
                    </div>
                </md-input-container>
            </md-content>
            <div class="bg-slategray lt wrap-reset mt-40 text-left">
                <p class="m-0">
                    <button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right">Confirmar</button>
                    <a ui-sref="core.login" class="btn btn-lightred b-0 text-uppercase">Voltar</a>
                </p>
            </div>
        </form>
    </div>
</div>
