.md-tab {
	color: #D0D0D0 !important;
}

.md-tab.md-active {
	color: #616F77 !important;
}

md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar {
    color: rgba(57,73,171,1);
    background: #616F77;
}

md-input-container.md-input-focused .md-input {
	border-width: 0 0 1px 0 !important;
}