<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row welcome">
        <div class="col-md-12 text-center m-t-lg">
            <h1>
                Bem vindo, <strong>Sandro</strong>!
            </h1>
        </div>
    </div>

    <div class="row" id="guided-tour-steps">
        <div class="col-md-3 text-center step">
            <i class="fa fa-filter"></i>
            <h2>
                Filtre                
            </h2>
            <p>Selecione os registros que melhor atendem aos seus critérios de negócio usando o <a href="">Data Explorer</a>.</p>

            <ul class="text-left">
                <li>Organize seu filtro por ordem alfabética, por região ou aleatoriamente;</li>
                <li>Filtros avançados por Operadora de Telefonia, Pessoa Física/Jurídica, Telefone Fixo/Celular, Bairros, Cidades, Estados etc;</li>
                <li>Preview de 500 registros filtrados com base no seu critério;</li>
                <li>Salve seus critérios de filtro edicão posterior</li>                
            </ul>

            <button class="btn btn-info dim">Saiba mais</button>
        </div>
         <div class="col-md-3 text-center step">
            <i class="fa fa-shopping-cart"></i>
            <h2>
                Reserve
            </h2>
            <p>Defina quantos registros farão parte da sua coleção e efetue a sua compra. Conheça nossas <a href="">modalidades de compra</a>.</p>

        </div>        
        <div class="col-md-3 text-center step">
            <i class="fa fa-cloud-download"></i>
            <h2>
                Armazene              
            </h2>
            <p>Faça o download das coleções adquiridas ou salve diretamente em sua conta do <a href="#">Dropbox</a>.</p>
        </div>
         <div class="col-md-3 text-center step">
            <i class="fa fa-search"></i>
            <h2>
                Navegue              
            </h2>
            <p>Explore os detalhes de cada registro das suas coleções através do <a href="#">Collection Navigator</a>.</p>
        </div>
    </div>
</div>