<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2><i class="fa fa-filter"></i> Explorer</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Explorer</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Table with data from $scope - <strong>(The angular way)</strong></h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>Tel. Fixo</th>
                            <th>Tel. Celular</th>
                            <th>Natureza</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="person in main.persons">
                            <td>{{ person.document__number }}</td>
                            <td>{{ person.name }}</td>
                            <td>{{ person.physicaladdress__street_full }}</td>
                            <td>{{ person.physicaladdress__street__neighborhood__name }}</td>
                            <td>{{ person.physicaladdress__street__neighborhood__city__name }}</td>
                            <td>{{ person.physicaladdress__street__neighborhood__city__state__name }}</td>
                            <td>{{ person.telephone__number_full }}</td>
                            <td>{{ person.cellphone__number_full }}</td>
                            <td>{{ person.nature }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>