<div class="wrapper wrapper-content animated  guided-tour">
    <div class="row title">
        <div class="col-md-8 col-md-offset-4 m-t-lg">
            <h1>
                <i class="fa fa-map-signs"></i>
                <strong>Tour Guiado</strong>
            </h1>
        </div>
    </div>

    <div class="row feature data-explorer animated fadeInRight">
        <div class="col-md-3 col-md-offset-1 text-center feature-icon">
            <i class="fa fa-filter"></i>
            <h2>
                Data Explorer                
            </h2>
        </div>
         <div class="col-md-7 feature-description">
            <h2>Selecione os registros que melhor atendem aos seus critérios de negócio usando o <a href="">Data Explorer</a>.</h2>

            <ul class="text-left fa-ul">
                <li><i class="fa-li fa fa-check"></i>Organize seu filtro por ordem alfabética, por região ou aleatoriamente;</li>
                <li><i class="fa-li fa fa-check"></i>Filtros avançados por Operadora de Telefonia, Pessoa Física/Jurídica, Telefone Fixo/Celular, Bairros, Cidades, Estados, DDD etc;</li>
                <li><i class="fa-li fa fa-check"></i>Preview de 500 registros de teste, filtrados com base nos critérios definidos por você;</li>
                <li><i class="fa-li fa fa-check"></i>Salve seus critérios de filtro para edicão posterior</li>
            </ul>
        </div>        
    </div>

    <div class="row feature data-shopping animated fadeInRight">
        <div class="col-md-3 col-md-offset-1 text-center feature-icon">
            <i class="fa fa-shopping-cart"></i>
            <h2>
                Data Shopping
            </h2>
        </div>
         <div class="col-md-7 feature-description">
            <h2>Defina quantos registros farão parte da sua coleção e efetue a sua compra. Conheça nossos <a href="">planos de compra</a> de dados.</h2>

            <ul class="text-left fa-ul">
                <li><i class="fa-li fa fa-check"></i>Organize seu filtro por ordem alfabética, por região ou aleatoriamente;</li>
                <li><i class="fa-li fa fa-check"></i>Filtros avançados por Operadora de Telefonia, Pessoa Física/Jurídica, Telefone Fixo/Celular, Bairros, Cidades, Estados, DDD etc;</li>
                <li><i class="fa-li fa fa-check"></i>Preview de 500 registros de teste, filtrados com base nos critérios definidos por você;</li>
                <li><i class="fa-li fa fa-check"></i>Salve seus critérios de filtro para edicão posterior</li>
            </ul>
        </div>        
    </div>

    <div class="row feature data-cross animated fadeInRight">
        <div class="col-md-3 col-md-offset-1 text-center feature-icon">
            <i class="fa fa-bolt"></i>
            <h2>
                Data Matcher
            </h2>
        </div>
         <div class="col-md-7 feature-description">
            <h2>Defina quantos registros farão parte da sua coleção e efetue a sua compra. Conheça nossos <a href="">planos de compra</a> de dados.</h2>

            <ul class="text-left fa-ul">
                <li><i class="fa-li fa fa-check"></i>Organize seu filtro por ordem alfabética, por região ou aleatoriamente;</li>
                <li><i class="fa-li fa fa-check"></i>Filtros avançados por Operadora de Telefonia, Pessoa Física/Jurídica, Telefone Fixo/Celular, Bairros, Cidades, Estados, DDD etc;</li>
                <li><i class="fa-li fa fa-check"></i>Preview de 500 registros de teste, filtrados com base nos critérios definidos por você;</li>
                <li><i class="fa-li fa fa-check"></i>Salve seus critérios de filtro para edicão posterior</li>
            </ul>
        </div>        
    </div>

    <div class="row feature data-checkout animated fadeInRight">
        <div class="col-md-3 col-md-offset-1 text-center feature-icon">
            <i class="fa fa-cloud-download"></i>
            <h2>
                Data Checkout
            </h2>
        </div>
         <div class="col-md-7 feature-description">
            <h2>Defina quantos registros farão parte da sua coleção e efetue a sua compra. Conheça nossos <a href="">planos de compra</a> de dados.</h2>

            <ul class="text-left fa-ul">
                <li><i class="fa-li fa fa-check"></i>Organize seu filtro por ordem alfabética, por região ou aleatoriamente;</li>
                <li><i class="fa-li fa fa-check"></i>Filtros avançados por Operadora de Telefonia, Pessoa Física/Jurídica, Telefone Fixo/Celular, Bairros, Cidades, Estados, DDD etc;</li>
                <li><i class="fa-li fa fa-check"></i>Preview de 500 registros de teste, filtrados com base nos critérios definidos por você;</li>
                <li><i class="fa-li fa fa-check"></i>Salve seus critérios de filtro para edicão posterior</li>
            </ul>
        </div>        
    </div>

    <div class="row feature data-checkout animated fadeInRight">
        <div class="col-md-3 col-md-offset-1 text-center feature-icon">
            <i class="fa fa-search"></i>
            <h2>
                Data Navigator
            </h2>
        </div>
         <div class="col-md-7 feature-description">
            <h2>Defina quantos registros farão parte da sua coleção e efetue a sua compra. Conheça nossos <a href="">planos de compra</a> de dados.</h2>

            <ul class="text-left fa-ul">
                <li><i class="fa-li fa fa-check"></i>Organize seu filtro por ordem alfabética, por região ou aleatoriamente;</li>
                <li><i class="fa-li fa fa-check"></i>Filtros avançados por Operadora de Telefonia, Pessoa Física/Jurídica, Telefone Fixo/Celular, Bairros, Cidades, Estados, DDD etc;</li>
                <li><i class="fa-li fa fa-check"></i>Preview de 500 registros de teste, filtrados com base nos critérios definidos por você;</li>
                <li><i class="fa-li fa fa-check"></i>Salve seus critérios de filtro para edicão posterior</li>
            </ul>
        </div>        
    </div>

    <div class="row feature data-checkout animated fadeInRight">
        <div class="col-md-3 col-md-offset-1 text-center feature-icon">
            <i class="fa fa-bullhorn"></i>
            <h2>
                Data Notifier
            </h2>
        </div>
         <div class="col-md-7 feature-description">
            <h2>Defina quantos registros farão parte da sua coleção e efetue a sua compra. Conheça nossos <a href="">planos de compra</a> de dados.</h2>

            <ul class="text-left fa-ul">
                <li><i class="fa-li fa fa-check"></i>Organize seu filtro por ordem alfabética, por região ou aleatoriamente;</li>
                <li><i class="fa-li fa fa-check"></i>Filtros avançados por Operadora de Telefonia, Pessoa Física/Jurídica, Telefone Fixo/Celular, Bairros, Cidades, Estados, DDD etc;</li>
                <li><i class="fa-li fa fa-check"></i>Preview de 500 registros de teste, filtrados com base nos critérios definidos por você;</li>
                <li><i class="fa-li fa fa-check"></i>Salve seus critérios de filtro para edicão posterior</li>
            </ul>
        </div>        
    </div>

    <div class="row next">
        <div class="col-md-5 col-md-offset-4">
            <button class="btn btn-warning dim">Já entendi, quero começar! <i class="fa fa-thumbs-up"></i></button>
        </div>
        <div class="col-md-1 col-md-offset-1">
            <button class="btn btn-info dim">Próximo <i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
</div>